/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}

/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  scroll-padding-top: 80px;
}

.navbar-toggler-icon {
    color: white;
   
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
 
    margin: 0px auto;
    position: relative;
    min-height: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
/*  white-space: nowrap;*/
    background: #262626;
  z-index: 2;
  padding: 0px;


}

.footer-child {
    width: 100%;
    position: absolute;
    background: #fff;
  
    margin: 0px;
}


.footer-child a{
    color: #13c4a5;
}

.footer-new-post, .footer-sample, .footer-founder, .footer-web, .footer-title-like {
    padding: 18px;
}


.footer-title-like ul li {
    padding: 10px;
   
}

.footer-web {
    
    border-bottom: 4px solid #939090;
}

.footer-web p {
    font-size: 16px;
    font-weight: 500;
}

.footer-title-like ul li a {
    text-decoration: none;
    /*color: #13c4a5;*/
    font-size: 16px;
    font-weight: 400;
}

.footer-new-post h5 {
    padding-top: 20px;
    
}

.footer-contact{
    border-bottom: 4px solid #939090;
    padding: 20px;
}
.footer-contact a{
    font-size: 25px;
}

.footer-founder h1 {
    padding-top: 20px;
    font-style: italic;
    font-family: Pacifico;
    font-weight: 600;
}

.footer-end{
    height: 60px;
    background: black;
    width: 100%;
}

.footer-end a {
   line-height: 60px;
   text-decoration: none;
   color: #939090;
   font-size: 16px;
  
   font-weight: 500;

}
.main-body-shared {
    
    width: 100%;
   
    padding: 0px;
    
    line-height: 1.6em;
    
    margin-top: 50px;

    margin-bottom: 50px;
    
}

.main-body-shared p{
    font-weight: 600;
}
.main-body-shared span {
    font-size: 12px;
    border: 1px solid #939090;

}
pre {
    font-size: 13px;
}

code span {
    font-size: 13px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

}


@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    pre {
        font-size: 13px;
    }

    code span {
        font-size: 13px;
    }

    .footer-web, .footer-new-post, .footer-title-like {
        border-bottom: 4px solid #939090;
    }

    .main-body-shared{
        width: 100%;
    }

}

